<h2>B a n d s</h2> <p>

<br>

<form action="/bands" method="post">
  <label for="name">Enter Band:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-sm btn-primary">Add Band</button>
</form>
