<h2>V e n u e s</h2>

<br>

<form action="/venues" method="post">
  <label for="name">Enter Venue:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-sm btn-primary">Add Venue</button>
</form>
